<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutails</title>
</head>
<body>
<h1>welcome to the text editor.Enter your text below</h1>
<form action="/analyze" method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <input type="checkbox" name="removepunch"> Remove punctuations<br>
    <input type="checkbox" name="upperc"> upper<br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>

    <button type='submit'> Analyze Text</button>

</form>
</body>
</html>